/*
Author:
Date:
File Name:
*/

/* CSS Reset */
body, header, main, footer, h1, h3, section, article {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #dfe7c4;
}

/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #628c45;
	color: #dfe7c4;
	padding: 2%;
    text-align: center;
}

/* Style rules for main content  */
main {
	background-color: #fff;
}

aside {
    padding: 2%;
}

footer {
	font-size: .70em;
	text-align: center;
}



/* Media Query for Tablet Viewport */
@media screen and (min-width: 650px), print {

.grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1024px), print {
  .grid {
      grid-template-columns: auto auto auto;
    }
    aside {
      grid-column: 1 / span 4;
    }
}
